@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body .active{
/* 
  text-decoration-line: underline;
  text-underline-offset: 6px; 
  font-weight: bolder; */
  border-bottom: 2px solid; /* Adjust the thickness of the underline as needed */
  font-weight: bold;
 
}